{% extends "layout.html" %}

{% block container %}
<h1>Calcular</h1>

<form action="/resultado" method="post">
    <div class="row">
        <div class="col-sm-7">
            <label>N1:</label>
            <input type="number" name="n1"><br>
            <label>N2:</label>
            <input type="number" name="n2"><br><br>
            <input type="radio" id="suma" name="calculadora" value="suma">
            
            <label for="suma">Suma</label>
            <input type="radio" id="resta" name="calculadora" value="resta">
            <label for="resta">Resta</label>
            <input type="radio" id="multiplicacion" name="calculadora" value="multiplicacion">
            <label for="multiplicacion">Multiplicación</label>
            <input type="radio" id="division" name="calculadora" value="division">
            <label for="division">Division</label>
            <br>
            <input type="submit" value="Calcular" class="btn btn-primary">
        </div>
        <div class="col-sm-3">
            <p>La {{t}} de {{num1}} y {{num2}} = {{r}}</p>
        </div>
    </div>
    
</form>
{%endblock%}